<%= form_with url: search_forecasts_path, method: :get do |form| %>
  <div class="field">
    <%= form.label :address, "Search term" %>
    <%=
      form.text_field :address,
                      id: "address-autocomplete",
                      placeholder: "Start typing an address...",
                      data: { controller: "address-autocomplete" }
    %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>

<% if @address.blank? %>
  <strong>Type in address to get forecast for...</strong>
<% else %>
  <h2>Weather forecast for <%= @address %></h2>
<% end %>
