<%= form_with url: search_forecasts_path, method: :get, data: { controller: "autocomplete" } do |f| %>
  <div class="field">
    <%= f.label :address, "Search term" %>
    <%=
      f.text_field :address,
                   id: "autocomplete",
                   placeholder: "Start typing an address...",
                   data: { autocomplete_target: "searchTerm" }
    %>

    <%= f.hidden_field :latitude, data: { autocomplete_target: "latitude" } %>
    <%= f.hidden_field :longitude, data: { autocomplete_target: "longitude" } %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<% if @address.blank? %>
  <strong>Type in address to get forecast for...</strong>
<% else %>
  <h2>Weather forecast for <%= @address %></h2>
<% end %>
