<%= form_with model: @search_query,
              url: search_forecasts_path,
              method: :get,
              data: {
                controller: "autocomplete",
                action: "submit->autocomplete#beforeSubmit"
              } do |f| %>
  <div class="control has-icons-right">
    <%=
      f.text_field :formatted_address,
                   id: "autocomplete",
                   class: "input is-primary",
                   placeholder: "Start typing an address...",
                   data: { autocomplete_target: "searchTerm" }
    %>
    <span class="icon is-small is-right">
      <%= icon('fa-solid', 'search') %>
    </span>

    <%= f.hidden_field :latitude, data: { autocomplete_target: "latitude" } %>
    <%= f.hidden_field :longitude, data: { autocomplete_target: "longitude" } %>

    <%= f.submit "Search", style: "display: none" %>
  </div>
<% end %>

<div class="container pt-4">
  <% if !@search_query.valid? %>
    <%= icon 'fa-solid', 'info' %>
    <span>Type in address to get forecast for.</span>
  <% else %>
    <% if @location.present? %>
      <% if @conditions.present? %>
        <div class="mb-2">
          <%= icon 'fa-solid', 'map' %>
          <%= @location.primary_postal_code %>, <%= @location.country %>
          <span class="ml-4 mr-2">
            <% if @conditions.is_cached %>
              <%= icon 'fa-solid', 'database mr-1' %>(cached)
            <% end %>
          </span>
        </div>

        <div class="mt-6">
          <h3 class="subtitle">
            <%= icon 'fa-solid', 'clock' %>
            Current conditions
          </h3>
          <div class="align-items-center">
            <span class="mr-4">
              <%= @conditions.starts_at.strftime("%Y-%m-%d %H:%M %p") %>
            </span>
            <% if @conditions.weather_icon.present? %>
              <img class="mr-3" src="https://developer.accuweather.com/sites/default/files/<%= "%02d" % @conditions.weather_icon %>-s.png">
            <% else %>
              <span class="mr-3"><%= @conditions.weather_text %></span>
            <% end %>
            <span class="mr-3">
              <%= icon 'fa-solid', 'temperature-full' %>
              <%= @conditions.temperature %><%= @conditions.temperature_unit %>
            </span>
            <span>
              <%= icon 'fa-solid', 'wind' %>
              <%= @conditions.wind_speed %>
              <%= @conditions.wind_unit %>
              <%= @conditions.wind_direction %>
            </span>
          </div>
        </div>

        <div class="mt-6">
          <h3 class="subtitle">
            <%= icon 'fa-solid', 'calendar-day' %>
            Daily forecasts
          </h3>
          <div style="display: flex; align-items: center;">
            <ul>
              <% @conditions.daily_forecasts.each do |forecast| %>
                <li class="mb-2 align-items-center">
                  <span class="mr-4">
                    <%= forecast.starts_at.strftime("%Y-%m-%d") %>
                  </span>

                  <% if forecast.weather_icon.present? %>
                    <img class="mr-3" src="https://developer.accuweather.com/sites/default/files/<%= "%02d" % forecast.weather_icon %>-s.png">
                  <% else %>
                    <span class="mr-3"><%= forecast.weather_text %></span>
                  <% end %>

                  <span class="mr-3">
                    <%= icon 'fa-solid', 'temperature-full' %>
                    <%= forecast.temperature_min %> &#45; <%= forecast.temperature_max %><%= forecast.temperature_unit %>
                  </span>

                  <span>
                    <%= icon 'fa-solid', 'wind' %>
                    <%= forecast.wind_speed %>
                    <%= forecast.wind_unit %>
                    <%= forecast.wind_direction %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        No forecast found for this location.
      <% end %>
    <% else %>
      Location for the forecast can't be found.
    <% end %>
  <% end %>
</div>
