<%= form_with model: @search_query,
              url: search_forecasts_path,
              method: :get,
              data: {
                controller: "autocomplete",
                action: "submit->autocomplete#beforeSubmit"
              } do |f| %>
  <div class="control has-icons-right">
    <%=
      f.text_field :formatted_address,
                   id: "autocomplete",
                   class: "input is-primary",
                   placeholder: "Start typing an address...",
                   data: { autocomplete_target: "searchTerm" }
    %>
    <span class="icon is-small is-right">
      <%= icon('fa-solid', 'search') %>
    </span>

    <%= f.hidden_field :latitude, data: { autocomplete_target: "latitude" } %>
    <%= f.hidden_field :longitude, data: { autocomplete_target: "longitude" } %>

    <%= f.submit "Search", style: "display: none" %>
  </div>
<% end %>

<div class="container pt-4">
  <% if !@search_query.valid? %>
    <%= icon 'fa-solid', 'info' %>
    <span>Type in address to get forecast for.</span>
  <% else %>
    <% if @location.present? %>
      <% if @condition.present? %>
        <div class="mb-2">
          <%= icon 'fa-solid', 'map' %>
          <%= @location.primary_postal_code %>, <%= @location.country %>
          <span class="ml-4 mr-2">
            <% if @condition.is_cached %>
              <%= icon 'fa-solid', 'database mr-1' %>(cached)
            <% end %>
            <span>Observed at: <%= last_fetched_at(@condition) %></span>
          </span>
        </div>

        <div class="mt-6">
          <h2 class="subtitle">Current conditions</h2>
          <div style="display: flex; align-items: center;">

            <% if @condition.weather_icon.present? %>
              <img class="mr-3" src="https://developer.accuweather.com/sites/default/files/<%= "%02d" % @condition.weather_icon %>-s.png">
            <% else %>
              <span class="mr-3"><%= @condition.weather_text %></span>
            <% end %>
            <span class="mr-3">
              <%= icon 'fa-solid', 'temperature-full' %>
              <%= @condition.temperature %><%= @condition.temperature_unit %>
            </span>
            <span>
              <%= icon 'fa-solid', 'wind' %>
              <%= @condition.wind_speed %>
              <%= @condition.wind_unit %>
              <%= @condition.wind_direction %>
            </span>
          </div>
        </div>
      <% else %>
        No forecast found for this location.
      <% end %>
    <% else %>
      Location for the forecast can't be found.
    <% end %>
  <% end %>
</div>
