<%= render 'search_query', search_query: @search_query %>

<div class="container pt-4">
  <% if !@search_query.valid? %>
    <%= icon 'fa-solid', 'info' %>
    <span>Type in address to get forecast for.</span>
  <% else %>
    <% if @location.present? %>
      <% if @conditions.present? %>
        <div class="mb-2">
          <%= icon 'fa-solid', 'map' %>
          <%= @location.primary_postal_code %>, <%= @location.country %>
          <span class="ml-4 mr-2">
            <% if @conditions.is_cached %>
              <%= icon 'fa-solid', 'database mr-1' %>(cached)
            <% end %>
          </span>
        </div>

        <div class="mt-6">
          <h3 class="subtitle">
            Current conditions
          </h3>
          <div class="align-items-center">
            <%= render 'conditions', conditions: @conditions %>
          </div>
        </div>

        <div class="mt-6">
          <h3 class="subtitle">
            <%= icon 'fa-solid', 'calendar-days' %>
            Daily forecasts
          </h3>
          <div class="align-items-center">
            <ul>
              <% @conditions.daily_forecasts.each do |forecast| %>
                <li class="mb-2 align-items-center">
                  <%= render 'conditions', conditions: forecast %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        No forecast found for this location.
      <% end %>
    <% else %>
      Location for the forecast can't be found.
    <% end %>
  <% end %>
</div>
