<%= form_with model: @search_query,
              url: search_forecasts_path,
              method: :get,
              data: {
                controller: "autocomplete",
                action: "submit->autocomplete#beforeSubmit"
              } do |f| %>
  <div class="field" style="display: flex; justify-content: flex-start">
    <%=
      f.text_field :formatted_address,
                   id: "autocomplete",
                   placeholder: "Start typing an address...",
                   data: { autocomplete_target: "searchTerm" }
    %>

    <%= f.hidden_field :latitude, data: { autocomplete_target: "latitude" } %>
    <%= f.hidden_field :longitude, data: { autocomplete_target: "longitude" } %>

    <%= f.submit "Search" %>
  </div>

<% end %>

<% if @search_query.blank? %>
  <strong>Type in address to get forecast for...</strong>
<% else %>
  <h3>
    Weather forecast for
    <%= @search_query.formatted_address %> at<br/>
    <%= @search_query.latitude %>, <%= @search_query.longitude %>
  </h3>

  <h3>
    <% if @accu_location.present? %>
      AccuWeather location: <%= @accu_location.key %>, <%= @accu_location.primary_postal_code %>, <%= @accu_location.country %>
    <% else %>
      Location for the forecast can't be found.
    <% end %>
  </h3>
<% end %>
